<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="test.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
         <h1 class="todo-title">My To-Do List</h1>
      <div class="innercontainer1">
        <button id="mybtn">Add</button>
        <input type="text" id="input" />
      </div>
      <div class="innercontainer2">
        <div class="works">
          <p class="text">1. Buying a BMW 325i</p>
          <div class="actions">
            <i class="bx bxs-trash"></i>
            <i class="bx bx-edit"></i>
          </div>
        </div>
        <div class="works">
          <p class="text">2. Buying a Audi A4</p>
          <div class="actions">
            <i class="bx bxs-trash"></i>
            <i class="bx bx-edit"></i>
          </div>
        </div>
        <div class="works">
          <p class="text">3. Buying a Mercedes C300</p>
          <div class="actions">
            <i class="bx bxs-trash"></i>
            <i class="bx bx-edit"></i>
          </div>
        </div>
        <div class="works">
          <p class="text">4. Buying a Tesla Model 3</p>
          <div class="actions">
            <i class="bx bxs-trash"></i>
            <i class="bx bx-edit"></i>
          </div>
        </div>
        <div class="works">
          <p class="text">5. Buying a Lexus IS 350</p>
          <div class="actions">
            <i class="bx bxs-trash"></i>
            <i class="bx bx-edit"></i>
          </div>
        </div>
        <div class="works">
          <p class="text">6. Buying a Honda Accord</p>
          <div class="actions">
            <i class="bx bxs-trash"></i>
            <i class="bx bx-edit"></i>
          </div>
        </div>
        <div class="works">
          <p class="text">7. Buying a Toyota Camry</p>
          <div class="actions">
            <i class="bx bxs-trash"></i>
            <i class="bx bx-edit"></i>
          </div>
        </div>
        <div class="works">
          <p class="text">8. Buying a Ford Mustang</p>
          <div class="actions">
            <i class="bx bxs-trash"></i>
            <i class="bx bx-edit"></i>
          </div>
        </div>
        <div class="works">
          <p class="text">9. Buying a Chevrolet Camaro</p>
          <div class="actions">
            <i class="bx bxs-trash"></i>
            <i class="bx bx-edit"></i>
          </div>
        </div>
        <div class="works">
          <p class="text">10. Buying a Porsche 911</p>
          <div class="actions">
            <i class="bx bxs-trash"></i>
            <i class="bx bx-edit"></i>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
